p{
    font-family: 'Times New Roman', Times, serif;
    padding-bottom: 50px;
    text-align: center;
    line-height: 40px;
    font-weight: 80;
  font-size:24px;}
body {
  background-color:white; 
  background-image: url("coffe.jpg");
  background-repeat: repeat;
  background-position: center;
  background-repeat: repeat-y;
 text-align: center;
opacity: 1;
}
h1, h2, h3, h4, h5, h6
{
text-align: center;
color: rgb(64, 27, 227); ;
padding: auto;
text-decoration: underline;
}
.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
button{
  font-size: 45px;
  font-style: normal;
  background-color: rgb(40, 236, 30);
}
footer{
  background-color: aqua;
  font-size: 24px;

}