p{
    align-content: center; text-align: center;
    line-height: 20px;
    border-radius: 0%;
    font-weight: 30px;
    font-family: 'Times New Roman', Times, serif;
    padding-bottom: 50px;
    height: fit-content;
    }
body {
  background-color:white;
 background-image: url("conical.jpeg");
 background-size: 50%;
 background-repeat: no-repeat;
 background-position: center;
 background-position: top;
 background-clip: inherit;   
 background-attachment: scroll;
}
h1, h2, h3, h4, h5, h6
{
text-align: center;
color: green; ;
padding: auto;
text-decoration: underline;
}