body {padding-left: 50px;
    padding-right: 70px;
    padding-block-start: 100px;
    padding-bottom: 300px;
    image-rendering: auto;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: larger;
align-content: center;;
}
header{ position: -webkit-sticky;
    font-size: 30px;
    font-style: normal;
padding-top: 200PX;
padding-bottom: 100PX;
color: green;
text-align: center;
}
body {
 background-image: url("Agro.jpeg");
 background-size: 50%;
 background-repeat: repeat;
 background-position: center;
 background-repeat: repeat-x;
 background-position: top;
 background-clip: inherit;   
 background-attachment: scroll;}
  h1, h2, h3, h4, h5, h6{
text-align: center;
color: green; 
background-color: rgb(223, 224, 221);width: fit-content;
opacity: 0.8;
padding: auto;
text-decoration: underline;
bac
}
p{
align-content: center; text-align: center;
line-height: 30px;
border-radius: 0%;
border-width: 100px; ;
font-weight: 20px;
font-family: 'Times New Roman', Times, serif;
padding-bottom: 200px;
width: fit-content;
height: fit-content;
}
  ul{background-color: rgba(196, 191, 171, 0.796);
    opacity: 1;
   width: fit-content;
   text-align: justify;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    width: 1300px;
    border: 5px;
    padding: 50px;
    margin: 5px;
  }
    li{float: left;
        padding-left: 200px;
}
img{float: center;}
footer{
padding-bottom: 100px;
padding-top: 100px;
background-color: rgb(118, 189, 240);
font-size: medium;
align-items: center;
align-content: center;
text-align: center;
line-height: 200%;
}
img {
    border-radius: 20%;
  }
div{align-content: center;
align-items: center;
text-align: center;
}
  