body {
  padding-block-start: 100px;
  padding-bottom: 200px;
  image-rendering: auto;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: larger;
  align-content: center;
}
header{ position: -webkit-sticky;
    font-size: 30px;
    font-style: normal;
padding-top: 250PX;
padding-bottom: 100PX;
color: #64766A;
text-align: center;
}
body {
  background-color:#FAF2F3;
 background-image: url("Agro.jpeg");
 background-size:50%;
 background-repeat: repeat;
 background-position: top;
 background-repeat: repeat-x;
 background-clip: inherit;   
 background-attachment: scroll;

}
  h1, h2, h3, h4, h5, h6
  {
text-align: center;
color:#541412; 
padding: auto;
text-decoration: underline;
}
p{text-align: center;
  border-radius: 0%;
  font-weight: 10px;
  font-family: 'Times New Roman', Times, serif;
  padding-bottom: 50px;
  height: fit-content;}
  ul{background-color: rgba(196, 191, 171, 0.796);
    opacity: 1;
   width: fit-content;
   text-align: justify;
    list-style-type: none;
    padding: 0px;
    width: 1300px;
    border: 5px;
    padding: 50px;
    margin: 5px;
  }
    li{float: left;
        padding-left: 150px;
        font-size: larger;
}
img{float: center;}
footer{
padding-bottom: 100px;
padding-top: 100px;
background-color: rgb(118, 240, 236);
font-size: medium;
align-items: center;
align-content: center;
text-align: center;
line-height: 200%;
}
img {
    border-radius: 0%;
  }
div{align-content: center;
align-items: center;
text-align: center;
padding-left: 0px;
text-align: center;
font-weight: 100;
font-size: large;
}
img {
  margin-right: 30px;
}
columns{
  margin-right: 20px;
}
a {
  color: green;
  text-decoration: none;
  transition: all 0.0s ease-in-out;
}
a:hover {
  color: #541412;
  text-decoration: underline;
}
