body {padding-left: 50px;
    background-attachment: aqua;
    image-rendering: auto;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: larger;}
h1{color: rgb(16, 16, 17);
text-align: justify;
background-color: aquamarine;width: 400px; height:400px;}
p{background-color: blueviolet ;width: 400px;height: 400px;}